In [ ]:
# Chapter 2: Statistical Learning

*J. Bruno Morgado: Well Tempered Data*

In [1]:
%load_ext watermark
%watermark -a "J. Bruno Morgado" -d -t -v -p numpy,pandas,matplotlib -g

J. Bruno Morgado 2016-12-08 13:02:14

CPython 3.5.2
IPython 5.1.0

numpy 1.11.2
pandas 0.19.1
matplotlib 1.5.3
Git hash: 1f11baa9654ba053da3ce23c597fdf30cbc87572

In [2]:
import pandas as pd
import numpy as np

## 8. College Dataset

### (a) load dataset
Datasets available on http://www-bcf.usc.edu/~gareth/ISL/data.html

In [3]:
college = pd.read_csv('http://www-bcf.usc.edu/~gareth/ISL/College.csv')
college.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

### (b) assign the 1st column to index

In [4]:
# the university collumn is unamed so we have to use the `.columns` to choose the desired column
college.set_index(college.columns[0], inplace=True)

# after we can assign a name to index
college.index.rename('University', inplace=True)